@model List<Customer> // To be able to receive list of customer objects
<h1>Category</h1>

<a asp-controller="Customer" asp-action="Create" >Create New Customer</a>  <br />@* specifying the controller and the action  *@
<a asp-controller="Order" asp-action="Login">Login</a>  <br />


<table>
    <tr> 
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
     
    @foreach (var item in Model)   @* using @ will allow you to use C# statements  *@
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td><a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
   

        </tr>
    }
    
</table>



